.page-header {
  padding: 10px 0;
  border-bottom: 1px solid var(--gray-color);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-nav {
  display: flex;

  &__item {
    & + & {
      margin-left: 3rem;
    }
  }
}

