:root {
  --accent-color: #008f94;
  --accent-dark-color: #025b5e;
  --base-text-color: #222222;
  --gray-color: #f2f2f2;
  --bg-light-color: #f3f0ea;

  --main-font-name: "Lato";
  --accent-font-name: "Lora";
  --main-font: var(--main-font-name), Helvetica, Arial, sans-serif;
  --accent-font: var(--accent-font-name), Helvetica, Arial, sans-serif;

  --container-width: 1100px;
  --container-gap: 20px;
}

$sm: 560px;
$md: 768px;
$lg: 1024px;